.container {
    display: flex;
  flex-direction: row;
  gap: 20px;

  }
  
  .public-universities {
    background-color: #b68282;
  padding: 10px;
  border-radius: 10px;
  width: 49%;

  }
  
  .private-universities {
    background-color: #b68282;
    padding: 10px;
    border-radius: 10px;
    width: 49%;
  
  }
  
  .public-universities ol, .private-universities ol {
    list-style-position: outside;
  }

  .h1-tag {
    text-align: center;
  }

  body {
    background-color: pink;
  }